
/*
** HTML elements
*/
fieldset {
  margin-bottom: 1em;
  padding: .5em;
}
form {
  margin: 0;
  padding: 0;
}
hr {
  height: 1px;
  border: 1px solid gray;
}
img {
  border: 0;
}
table {
/*  border-collapse: collapse; */
}
th {
/*  text-align: left; */
  text-align: right;
/*  padding-right: 1em; */
  padding-left: 1em;
  border-bottom: 3px solid #ccc;
  white-space: nowrap;
}
th.active img {
  display: inline;
}
tr.even, tr.odd {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}
tr.even, tr.odd {
/*  padding: 0.1em 0.6em; */
  padding: 0.1em 0 0 0.6em;
}
td.active {
  background-color: #ddd;
}

/*
** Menu styles
*/
ul.menu {
/*  padding: 0 0 0 0.5em; */
  padding: 0 0.5em 0 0;
}
.menu ul {
  list-style: none;
  border: none;
/*  text-align:left; */
  text-align: right;
}
ul.menu li {
/*  margin: 0 0 0 0.5em; */
   margin: 0 0.5em 0 0;
}
.menu li a {
  width: 100%;
  text-decoration: none;
}
li.expanded {
  list-style-type: circle;
  list-style-image: url(menu-expanded.png);
/*  padding: 0.2em 0.5em 0 0; */
  padding: 0.2em 0 0 0.5em;
  margin: 0;
}
li.collapsed {
  list-style-type: disc;
/*  list-style-image: url(menu-collapsed.png); */
  list-style-image: url(menu-collapsed-rtl.png);
/*  padding: 0.2em 0.5em 0 0; */
  padding: 0.2em 0 0 0.5em;
  margin: 0;
}
li.leaf {
  list-style-type: square;
  list-style-image: url(menu-leaf.png);
/*  padding: 0.2em 0.5em 0 0; */
  padding: 0.2em 0 0 0.5em;
  margin: 0;
}
li a.active {
  color: #000;
}
td.menu-disabled {
  background: #ccc;
}

/*
** Other common styles
*/
.breadcrumb {
  padding-bottom: .5em
}
.block-region {
  background-color: #ffff66;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 3px;
}
.block ul {
  margin: 0;
/*  padding: 0 0 0.25em 1em; */
  padding: 0 1em 0.25em 0;
}
br.clear {
  clear: both;
  height: 0px;
}
.container-inline div {
  display: inline;
}
.container-inline .form-submit {
  margin: 0;
}
.error {
  color: red;
}
.item-list .icon {
  color: #555;
/*  float: right; */
  float: left;
/*  padding-left: 0.25em; */
  padding-right: 0.25em;
  clear: right;
}
.item-list .icon a {
  color: #000;
  text-decoration: none;
}
.item-list .icon a:hover {
  color: #000;
  text-decoration: none;
}
.item-list .title {
  font-weight: bold;
}
.item-list ul {
  margin: 0 0 0.75em 0;
  padding: 0;
}
.item-list ul li {
/*  margin: 0 0 0.25em 1.5em; */
  margin: 0 1.5em 0.25em 0;
  padding: 0;
  list-style: disc;
}
.form-item {
  margin-top: 1em;
  margin-bottom: 1em;
}
tr.odd .form-item, tr.even .form-item {
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
}
.form-item input.error, .form-item textarea.error {
  border: 2px solid red;
}
.form-item .description {
  font-size: 0.85em;
}
.form-item label {
  display: block;
  font-weight: bold;
}
.form-item label.option {
  display: inline;
  font-weight: normal;
}
.marker, .form-required {
  color: #f00;
}
.more-link {
/*  text-align: right; */
  text-align: left;
}
.node-form .form-text {
  display: block;
  width: 95%;
}
.node-form .standard {
  clear: both;
}
.node-form textarea {
  display: block;
  width: 95%;
}
.node-form .attachments fieldset {
  float: none;
  display: block;
}
.nowrap {
  white-space: nowrap;
}
.ok {
  color: #080;
}
#pager {
  clear: both;
  text-align: center;
}
#pager a, #pager strong.pager-current {
  padding: 0.5em;
}
.path {
  padding-bottom: 0.7em;
  font-size: 1.1em;
}

/*
** Module specific styles
*/
#aggregator .feed-source .feed-title {
  margin-top: 0;
}
#aggregator .feed-source .feed-image img {
  margin-bottom: 0.75em;
}
#aggregator .feed-source .feed-icon {
/*  float: right; */
  float: left;
  display: block;
}
#aggregator .feed-item {
  margin-bottom: 1.5em;
}
#aggregator .feed-item-title {
  margin-bottom: 0;
  font-size: 1.3em;
}
#aggregator .feed-item-meta, #aggregator .feed-item-body {
  margin-bottom: 0.5em;
}
#aggregator .feed-item-categories {
  font-size: 0.9em;
}
#aggregator td {
  vertical-align: bottom;
}
#aggregator td.categorize-item {
  white-space: nowrap;
}
#aggregator .categorize-item .news-item .body {
  margin-top: 0;
}
#aggregator .categorize-item h3 {
  margin-bottom: 1em;
  margin-top: 0;
}
.book-navigation .menu {
  border-top: 1px solid #888;
/*  padding: 1em 0 0 3em; */
  padding: 1em 3em 0 0;
}
.book-navigation .page-links {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  text-align: center;
  padding: 0.5em;
}
.book-navigation .page-previous {
/*  text-align: right; */
  text-align: left;
}
.book-navigation .page-up {
  margin: 0 4em;
}
.book-navigation .page-next {
/*  text-align: left; */
  text-align: right;
}
.archive {
  margin: 1em 0 1em 0;
}
.calendar .row-week td a {
  display: block;
}
.calendar .row-week td a:hover {
  background-color: #888; color: #fff;
}
.calendar a {
  text-decoration: none;
}
.calendar a:hover {
  text-decoration: none;
}
.calendar table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #000;
}
.calendar td, .calendar th {
  text-align: center;
  border: 1px solid #000;
  padding: 1px;
  margin: 0;
  font-size: 0.8em;
}
.calendar td.day-blank {
  border: 0;
}
.tips {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 0.9em;
}
#forum .description {
  font-size: 0.9em;
  margin: 0.5em;
}
#forum td.created, #forum td.posts, #forum td.topics, #forum td.last-reply, #forum td.replies, #forum td.pager {
  white-space: nowrap;
}
#forum td.posts, #forum td.topics, #forum td.replies, #forum td.pager {
  text-align: center;
}
.forum-topic-navigation {
/*  padding: 1em 0 0 3em; */
  padding: 1em 3em 0 0;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  text-align: center;
  padding: 0.5em;
  display: none;
}
.forum-topic-navigation .topic-previous {
/*  text-align: right; */
  text-align: left; 
}
.forum-topic-navigation .topic-next {
/*  text-align: left; */
  text-align: right;
}
.locale-untranslated {
  font-style: normal;
  text-decoration: line-through;
}
#
#node-admin-filter ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
}
#node-admin-buttons {
/*  float: left; */
  float: right;
/*  margin-left: 0.5em; */
  margin-right: 0.5em;
/*  clear: right; */
  clear: left;
}
td.revision-current {
  background: #ffc;
}
dl.multiselect dd.b, dl.multiselect dd.b .form-item, dl.multiselect dd.b select {
  font-family: inherit;
  font-size: inherit;
  width: 14em;
}
dl.multiselect dd.a, dl.multiselect dd.a .form-item {
  width: 8em;
}
dl.multiselect dt, dl.multiselect dd {
/*  float: left; */
  float: right;
  line-height: 1.75em;
  padding: 0px;
/*  margin: 0px 1em 0px 0px; */
  margin: 0px 0px 0px 1em;
}
dl.multiselect .form-item {
  height: 1.75em;
  margin: 0px;
}
#permissions td.module, #blocks td.region {
  font-weight: bold;
}
#permissions td.permission, #blocks td.block, #taxonomy td.term, #taxonomy td.message {
/*  padding-left: 1.5em; */
  padding-right: 1.5em;
}
#access-rules .access-type, #access-rules .rule-type {
/*  margin-right: 1em; */
  margin-left: 1em;
/*  float: left; */
  float: right;
}
#access-rules .access-type .form-item, #access-rules .rule-type .form-item {
  margin-top: 0;
}
#access-rules .mask {
  clear: both;
}
.poll .bar {
  height: 1em;
  margin: 1px 0;
  background-color: #ddd;
}
.poll .bar .foreground {
  background-color: #000;
  height: 1em;
/*  clear: left; */
  clear: right;
/*  float: left; */
  float: right;
}
.poll .links {
  text-align: center;
}
.poll .percent {
/*  text-align: right; */
  text-align: left;
}
.poll .total {
  text-align: center;
}
.poll .vote-form {
  text-align: center;
}
.poll .vote-form .choices {
/*  text-align: left; */
  text-align: right;
  margin: 0 auto;
  display: table;
}
.profile {
  clear: both;
  margin: 1em 0 1em 0;
}
.profile .picture {
/*  float: right; */
  float: left;
/*  margin: 0 1em 1em 0; */
  margin: 0 0 1em 1em;
}
.profile dt {
  margin: 1em 0 0.2em 0;
  font-weight: bold;
}
.profile dd {
  margin:0;
}
.node-form .poll-form fieldset {
  display: block;
}
img.screenshot {
  border: 1px solid #808080;
  display: block;
  margin: 2px;
}
.search-form {
  margin-bottom: 1em;
}
.search-form p {
  margin-top: 0;
  margin-bottom: 0.2em;
  padding-top: 0;
  padding-bottom: 0;
}
.search-form input {
  margin-top: 0;
  margin-bottom: 0;
}
.search-results p {
  margin-top: 0;
}
.search-results dt {
  font-size: 1.1em;
}
.search-results dd {
  margin-bottom: 1em;
}
.search-results .search-info {
  font-size: 0.85em;
}
.search-advanced .criterion {
  float: left;
  margin-right: 2em;
}
.search-advanced .action {
  float: left;
  clear: left;
}
#tracker td.replies {
  text-align: center;
}
#tracker table {
  width: 100%;
}
.theme-settings-left {
/*  float: left; */
  float: right;
  width: 49%;
}
.theme-settings-right {
/*  float: right; */
  float: left;
  width: 49%;
}
.theme-settings-bottom {
  clear: both;
}
.user-login-form {
  text-align: center;
}
.more-help-link {
  font-size: 0.85em;
/*  text-align: right; */
  text-align: left;
}
tr.watchdog-user {
  background: #ffd;
}
tr.watchdog-user .active {
  background: #eed;
}
tr.watchdog-content {
  background: #ddf;
}
tr.watchdog-content .active {
  background: #cce;
}
tr.watchdog-page-not-found, tr.watchdog-access-denied {
  background: #dfd;
}
tr.watchdog-page-not-found .active, tr.watchdog-access-denied .active {
  background: #cec;
}
tr.watchdog-error {
  background: #ffc9c9;
}
tr.watchdog-error .active {
  background: #eeb9b9;
}

/* Tab navigation */
ul.primary {
  border-collapse: collapse;
/*  padding: 0 0 0 1em; */
  padding: 0 1em 0 0;
  white-space: nowrap;
  list-style: none;
  margin: 5px;
  height: auto;
  line-height: normal;
  border-bottom: 1px solid #bbb;
}
ul.primary li {
  display: inline;
}
ul.primary li a {
  background-color: #ddd;
  border-color: #bbb;
  border-width: 1px;
  border-style: solid solid none solid;
  height: auto;
  margin-right: 0.5em;
/*  padding: 0 1em; */
  padding: 0 0 0 1em;
  text-decoration: none;
}
ul.primary li.active a {
  background-color: #fff;
  border: 1px solid #bbb;
  border-bottom: #fff 1px solid;
}
ul.primary li a:hover {
  background-color: #eee;
  border-color: #ccc;
  border-bottom-color: #eee;
}
ul.secondary {
  border-bottom: 1px solid #bbb;
  padding: 0.5em 1em 0.5em 1em;
  margin: 5px;
}
ul.secondary li {
  display: inline;
/*  padding: 0 1em; */
  padding: 0 0 0 1em;
}
ul.secondary a {
  padding: 0;
  text-decoration: none;
}
ul.secondary a.active {
  border-bottom: 4px solid #999;
}

/*
** Help module
*/
.help-items {
  float: left;
  width: 22%;
  padding-right: 3%;
}
.help-items-last {
  padding-right: 0;
}

/*
** Autocomplete styles
*/
/* Suggestion list */
#autocomplete {
  position: absolute;
  border: 1px solid;
  overflow: hidden;
}
#autocomplete ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#autocomplete li {
  background: #fff;
  color: #000;
  white-space: pre;
  cursor: default;
}
#autocomplete li.selected {
  background: #0072b9;
  color: #fff;
}
/* Animated throbber */
html.js input.form-autocomplete {
  background: url(throbber.gif) no-repeat 100% 2px;
}
html.js input.throbbing {
  background-position: 100% -18px;
}

/*
** Progressbar styles
*/
.progress {
  font-weight: bold;
}
.progress .bar {
  background: #fff url(progress.gif);
  border: 1px solid #00375a;
  height: 1.5em;
  margin-top: 0.2em;
}
.progress .filled {
  background: #0072b9;
  height: 1em;
  border-bottom: 0.5em solid #004a73;
  width: 0%;
}
.progress .percentage {
  float: right;
}

/*
** Collapsing fieldsets
*/
html.js fieldset.collapsed {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  margin-bottom: 0;
}
html.js fieldset.collapsed * {
  display: none;
}
html.js fieldset.collapsed table *,
html.js fieldset.collapsed legend,
html.js fieldset.collapsed legend * {
  display: inline;
}
html.js fieldset.collapsible legend a {
  padding-left: 15px;
  background: url(menu-expanded.png) 5px 50% no-repeat;
}
html.js fieldset.collapsed legend a {
/*  background-image: url(menu-collapsed.png); */
  background-image: url(menu-collapsed-rtl.png);
}
/* Note: IE-only fix due to '* html' (breaks Konqueror otherwise). */
* html.js fieldset.collapsible legend a {
  display: block;
}

/*
** Resizable text areas
*/
.resizable-textarea {
  width: 95%;
}
.resizable-textarea .grippie {
  height: 14px;
  background: #eee url(grippie.png) no-repeat 100% 100%;
  border: 1px solid #ddd;
  border-top-width: 0px;
  cursor: s-resize;
}
